
@{
    ViewData["Title"] = "Add";
}

<h2>Add</h2>

@using (Html.BeginForm("~/Home/Add"))
{
    <input type="text" name="Name" />
    <input type="text" name="Age" />
    <input type="submit" value="添加" /> 
}

     


      


